:root {
  --background: #FAFAFA;
  --light: #fff;
  --light_hover: #FAFAFA;
  --light_active: #d076fd;

  // --primary: #BE52F2;
  --primary: #8a67d1;
  --primary_hover: #ca64fc;
  --primary_active: #d076fd;

  --danger: #FF647C;
  --danger_hover: #fd758a;
  --danger_active: #ff8295;

  --grey: #2b2b2b;

  --loading-size: 0%;
}